@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
.saialbum .album {
    background: #1a1a1a;
    border: 5px solid #ccc;
    margin-top: 20px;
    min-height: 580px;
    overflow: hidden;
    padding: 15px;
    width: 600px;
}
.saialbum .album:hover .content {
  opacity: 1;
}
.saialbum .album:hover .titu {
  opacity: 1;
}

.saialbum .titu {
    width: auto;
    background: #787878;
    color: #000;
    display: block;
    font-size: 12px;
    letter-spacing: 5px;
    opacity: .5;
    outline: 5px solid #ccc;
    outline-offset: -5px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 1s;
    margin: 5px;
}

.saialbum .content {
    background: #000;
    color: #ccc;
    display: block;
    font-size: 12px !important;
    height: 250px;
    opacity: .5;
    overflow: auto;
    padding: 5px;
    text-align: justify;
    transition: 1s;
    width: auto;
    margin: 5px;
}
.saialbum .content p {
    color: #ccc;
    font-size: 12px !important;
    text-align: justify;
}

.saialbum .content img {
    height: auto;
    width: 225px;
}

.saialbum .imagen {
    width: 90px;
    height: 604px;
    border: 5px solid #efe6ff;
    margin: 5px;
}

.saialbum .colum1 {
    width: 245px;
    float: left;
}

.saialbum .colum2 {
    width: auto;
    float: left;
}

.saialbum .nombre {
    background: transperent;
    color: #ccc;
    display: block;
    font-family: 'Amatic SC';
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #ccc
}
