.efecto1 {
    float: left;
    position: relative
}

#saiimgexp1 {
    position: absolute;
    top: 0
}

#saiexpediente1:hover #saiimgexp1 {
    position: absolute;
    top: 0;
    left: -275px
}

#sainombre1 {
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    color: #961919;
    text-shadow: 1px 1px 2px #ebebeb;
    word-spacing: 32px;
}

#sainombre2 {
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    line-height: 70%;
    position: absolute;
    top: 75%;
    bottom: 0;
    left: 0;
    right: 0;
    color: #961919;
    text-shadow: 1px 1px 2px #ebebeb;
    font-size: 44px;
}

#saidato1 {
    background-color: #961919;
    color: black;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 1.53px;
}

#saidato1:hover {
    background-color: #613131;
    color: white;
}

#saiexpediente1 {
    background-color: #f7f7f7
}

#saiexpediente1 ::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border: 2px solid #1d1d1d;
    height: auto;
    width: 5px
}

#saiexpediente1 ::-webkit-scrollbar {
    background-color: #7a7a7a;
    border: 4px solid #1d1d1d;
    height: 10px;
    width: 10px
}

#saihistoria1 {
    background-color: #1d1d1d;
    font-size: 10px;
    float: left;
    color: white;
    width: 325px;
    height: 275px;
    margin-right: 0;
}

#saidesc1 {
    float: left;
    position: relative;
    background-color: #1d1d1d;
    font-size: 10px;
    color: white;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 155px
}

#saidatosexp1 {
    background-color: #1d1d1d;
    font-size: 10px;
    color: white;
    height: 256px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#saiinfoexp1 {
    background-color: #7a7a7a;
    color: black;
    outline: 1px solid black;
}

#saititexp2 {
    background-color: #7a7a7a;
    color: black;
    outline: 1px solid black;
    margin-left: 5px;
    margin-right: 0;
    float: left;
    width: 315px
}

#saititexp1 {
    width: 145px;
    background-color: #7a7a7a;
    color: black;
    outline: 1px solid black;
    margin-left: 5px;
    float: left
}

#saipb1 {
    background-color: #7a7a7a;
    color: black;
    outline: 1px solid black;
    margin-bottom: 10px;
    border-color: #613131;
}

#saiicon1 {
    border: 5px solid #613131;
    margin: 0;
}
