.sFicha .sBase1 {
    background-color: #000830;
    width: 570px;
    height: 665px;
    border: solid 5px #fff;
    padding: 10px;
    overflow: hidden;
}

.sFicha .sPortada {
    width: 590px;
    height: 685px;
    border: solid 5px #fff;
    float: left;
    position: relative;
    top: -15px;
    left: -15px;
    transition: .8s;
    overflow: hidden;
}

.sBase1:hover .sPortada {
    width: 560px;
    height: 170px;
    top: 0;
    left: 0;
}

.sFicha .sPortada img {
    width: 590px;
    height: 690px;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
    transition: .8s;
}

.sBase1:hover .sPortada img {
    top: 0;
    left: -15px;
}

.sFicha .sBase2 {
    border: solid 0px #fff;
    float: left;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 570px;
    height: 480px;
    transition: .8s;
    opacity: 0;
}

.sBase1:hover .sBase2 {
    border: solid 0px #fff;
    float: left;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 570px;
    height: 475px;
    transition: 1s;
    opacity: 1;
}

.sFicha .sColumna1 {
    width: 165px;
    float: left;
    position: relative;
}

.sFicha .sColumna2 {
    width: 100px;
    float: left;
    position: relative;
}

.sFicha .sDato {
  color: #fff;
  width: 150px;
  text-transform: uppercase;
  height: auto;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #141c42;
  transition: .3s;
}
.sFicha .sDato:last-child {

  margin-bottom: 0px;
}
.sFicha .sDato:hover {
  color: #191919;
  background-color: #6e7dc3;
}

.sFicha .sDatos {
    width: 165px;
    height: 300px;
    overflow: auto;
}



.sFicha ::-webkit-scrollbar-thumb {
    background-color: #6e7dc3;
    border: 0px solid #3a50bb;
    height: auto;
    width: 8px;
}

.sFicha ::-webkit-scrollbar {
    background-color: #000830;
    border: 4px solid #000830;
    height: 5px;
    width: 5px;
}
.sFicha .sMinip{
  margin-bottom: 10px;
  width: 160px;
  border-radius: 150px;
  border: 2.5px solid #6e7dc3;
  overflow: hidden;
}
