@import url('https://fonts.googleapis.com/css?family=Dosis');
.sFicha {
  color: #fff;
  line-height: normal;
  font-size: 14px;
  font-family: 'Dosis', Verdana, Arial, Helvetica, sans-serif;
}

.sFicha .sBase1 {
  position: relative;
  background-color: #000830;
  width: 570px;
  height: 670px;
  border: solid 5px #fff;
  padding: 10px;
  overflow: hidden;
  transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .1s;
  filter: saturate(0);
}

.sFicha .sBase1:hover {
  filter: saturate(1);
}

.sFicha .sPortada {
  width: 580px;
  height: 680px;
  border: solid 5px #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .1s;
  overflow: hidden;
}

.sBase1:hover .sPortada {
  width: 150px;
  height: 660px;
  top: 10px;
  right: 10px;
  border: solid 5px #6e7dc3;
}

.sFicha .sPortada img {
  width: 590px;
  height: 690px;
  float: left;
  position: relative;
  top: -5px;
  left: -5px;
  margin: auto;
  transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .1s;
  z-index: -1;
}

.sBase1:hover .sPortada img {
  top: -15px;
  left: -210px;
}

.sFicha .sBase2 {
  border: solid 0px #fff;
  position: absolute;
  width: 400px;
  height: 670px;
  transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .1s;
  opacity: 0;
  left: -415px;
}

.sBase1:hover .sBase2 {
  border: solid 0px #fff;
  opacity: 1;
  left: 10px;
}

.sFicha .sColumna1 {
  width: 400px;
  float: left;
  position: relative;
  margin-right: 5px;
}

.sFicha .sColumna2 {
  width: 165px;
  float: left;
  position: relative;
}

.sFicha ::-webkit-scrollbar-thumb {
  background-color: #6e7dc3;
  border: 0px solid #3a50bb;
  height: auto;
  width: 8px;
}

.sFicha ::-webkit-scrollbar {
  background-color: #000830;
  border: 4px solid #000830;
  height: 5px;
  width: 5px;
}

.sFicha .sMinip {
  margin-top: 10px;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 2.5px solid #6e7dc3;
  overflow: hidden;
  opacity: .8;
  transition: 1s;
}

.sFicha .sMinip:hover {
  transform: rotate(360deg);
  opacity: 1;
}

.sFicha .sButtons {
  width: 100%;
  display: flex;
}

.sFicha .sButton {
  width: 100px;
  background-color: #141c42;
  color: #fff;
  border: none;
  font-family: 'Dosis', Verdana, Arial, Helvetica, sans-serif;
  height: 30px;
  font-size: 16px;
  border: solid 2px #6e7dc3;
  outline: none;
  transition: 0.3s;
}

.sFicha .sImgBase {
  position: relative;
  width: 370px;
  height: 610px;
  z-index: 0;
  margin: 10px;
  overflow: hidden;
  border: solid 5px #6e7dc3;
}

.sFicha .sContent2 {
  background-color: #000830;
  position: absolute;
  width: 380px;
  height: 620px;
  overflow-y: scroll;
  text-align: justify;
  padding: 10px;
  color: #fff;
  transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .1s;
  z-index: 1;
  top: 30px;
  font-size: 14px;
}

.sFicha .sContent2 img {
  border: 5px solid #6e7dc3;
  width: 365px;
  height: 200px;
}

.sFicha #sFirma {
  color: #fff;
  font-size: 9px;
}

.sFicha #sFirma a {
  color: #fff;
}

.sFicha #sFirma a:hover {
  color: #fff;
}

.sFicha .sNombre {
  top: 230px;
  left: 0px;
  right: 0px;
  position: absolute;
  font-weight: bolder;
  font-size: 55px;
  transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .1s;
  color: #071765;
  text-shadow: 2px 2px #8791c5, 0px 0px 30px rgb(255, 255, 255);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.sBase1:hover .sNombre {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 120px;
  left: 70px;
}

.sFicha .sDatos {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1;
  bottom: 5px;
  right: 5px;
  transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .1s;
}

.sBase1:hover .sDatos {
  bottom: -5px;
  right: -5px;
}

.sFicha .sDato {
  font-size: 12px;
  padding: 2px;
  position: relative;
  right: -155px;
  margin: 8px;
  width: 140px;
  height: auto;
  z-index: 10;
  transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .1s;
}

.sBase1:hover .sDato {
  right: 0;
}
.sBase1:hover .sDato1 {
transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .1s;
}
.sBase1:hover .sDato2 {
transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .15s;
}
.sBase1:hover .sDato3 {
transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .2s;
}
.sBase1:hover .sDato4 {
transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .25s;
}
.sBase1:hover .sDato5 {
transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .3s;
}
.sBase1:hover .sDato6 {
transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .35s;
}
.sBase1:hover .sDato7 {
transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .4s;
}
.sBase1:hover .sDato8 {
transition: all .7s cubic-bezier(0.68, -0.1, 0.46, 1.1) .45s;
}

.sFicha .sDegradado {
  background: -moz-linear-gradient(left, rgba(0, 8, 48, 0) 0%, rgba(0, 8, 48, 0.83) 29%, rgba(0, 8, 48, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 8, 48, 0)), color-stop(29%, rgba(0, 8, 48, 0.83)), color-stop(100%, rgba(0, 8, 48, 1)));
  background: -webkit-linear-gradient(left, rgba(0, 8, 48, 0) 0%, rgba(0, 8, 48, 0.83) 29%, rgba(0, 8, 48, 1) 100%);
  background: -o-linear-gradient(left, rgba(0, 8, 48, 0) 0%, rgba(0, 8, 48, 0.83) 29%, rgba(0, 8, 48, 1) 100%);
  background: -ms-linear-gradient(left, rgba(0, 8, 48, 0) 0%, rgba(0, 8, 48, 0.83) 29%, rgba(0, 8, 48, 1) 100%);
  background: linear-gradient(to right, rgba(0, 8, 48, 0) 0%, rgba(0, 8, 48, 0.83) 29%, rgba(0, 8, 48, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000830', endColorstr='#000830', GradientType=1);
}

/*BOTONES FOCUS*/

.sFicha .sButton:focus {
  width: 25%;
  background-color: #6E7DC1;
  color: #191919;
  border: none;
  font-family: 'Dosis', Verdana, Arial, Helvetica, sans-serif;
  border: solid 2px #141c42;
}

.sFicha .sFisico {
  left: -400px;
  opacity: 0;
}

.sFicha .sPersonalidad {
  left: -400px;
  opacity: 0;
}

.sFicha .sHistoria {
  left: -400px;
  opacity: 0;
}

.sFicha .sExtras {
  left: -400px;
  opacity: 0;
}

/*BOTON FISICO*/

.sFisicoB:focus .sFisico {
  opacity: 1;
  left: 0px;
}

/*BOTON PERSONALIDAD*/

.sPersonalidadB:focus .sPersonalidad {
  opacity: 1;
  left: 0px;
}

/*BOTON HISTORIA*/

.sHistoriaB:focus .sHistoria {
  opacity: 1;
  left: 0px;
}

/*BOTON PERSONALIDAD*/

.sExtrasB:focus .sExtras {
  opacity: 1;
  left: 0px;
}
