@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Didact+Gothic|Patrick+Hand|Roboto');
.sPlantillaBASE {
  line-height: normal;
  font-size: 12px;
  font-family: 'Didact Gothic', sans-serif;
}

.sPlantillaBASE .sPost {
  width: 500px;
  border-top: 3px solid #C8CB11;
  border-bottom: 3px solid #C8CB11;
}

.sPlantillaBASE .sTitulo {
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  color: white;
  line-height: 20px;
}

.sPlantillaBASE .sPost div {
  padding: 15px;
  text-align: justify;
  width: 470px;
  font-size: 13.5px;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.sPlantillaBASE div span {
  font-family: 'Patrick Hand', cursive;
  font-size: 14px;
  color: #FFC900;
}

.sPlantillaBASE .sPost div i {
  font-family: 'Patrick Hand', cursive;
  font-size: 14px;
  color: #51FFBB;
}

.sPlantillaBASE .sFirma {
  color: #fff;
  font-size: 5px;
}

.sPlantillaBASE .sFirma a {
  color: #fff;
}

.sPlantillaBASE .sFirma a:hover {
  color: #fff;
}
